body {
    background: rgb(121, 121, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    width: 300px;
    max-height: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.918);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div {
    font: normal 10pt Arial;
    margin-top: 0;
    font-weight: bold;
}

.buttom-check {
    text-align: center;
    margin-bottom: 1rem;
}

div img {
    margin-top: 1rem;
    height: 160px;
    width: 160px;
    border-radius: 50%;
}